.card {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  justify-content: center;
  width: 450px;
  border-radius: 8px;
  background: #ffffff;
  border: 2px solid rgba(249, 250, 252, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 4px 145px rgba(0, 0, 0, 0.05);
}

.header {
  font-size: 30px;
  color: #000000;
  line-height: 37px;
  width: 100%;
  height: min-content;
  justify-content: flex-start;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 0 20px;
}

.content {
  width: 100%;
  color: #858a8f;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  padding: 0px 20px 20px 20px;
}

.image {
  width: 100%;
  height: 200px;
}

.button {
  min-width: 160px;
  text-align: left;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
