.tag {
  background: rgba(28, 255, 232, 0.1);
  box-shadow: 0px 8px 24px rgba(60, 57, 172, 0.15);
  min-width: 132px;
  min-height: 32px;
  width: 132px;
  height: 32px;
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-size: 32px;
  cursor: pointer;
}

.round {
  border-radius: 6px;
}
